.main {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.entityContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    font-size: 16px;
    margin: 10px 0;
}

.outerEntityContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0;
    padding: 0 50px;
}

.entityIndex {
    flex: 0 5%;
    text-align: center;
}

.entityBox {
    display: flex;
    flex-direction: column;
    flex: 1 1;
    gap: 10px;
    font-size: 16px;
    padding: 10px;
    border: 1px solid #f64141;
    border-radius: 5px;
}

.entityTitle {
    font-size: 18px;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
    align-items: center;
    gap: 5px;
}

.numButtonContainer {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.button {
    text-align: center;
    padding: 5px 10px;
    background-color: inherit;
    border: 1px solid #f64141;
    border-radius: 5px;
    color: #808080;
    cursor: pointer;
    transition-duration: 200ms;
}

.button:hover {
    background-color: #f64141;
    color: black;
    transition-duration: 200ms;
}

.activeButton {
    text-align: center;
    padding: 5px 10px;
    background-color: #f64141;
    color: black;
    border: 1px solid #f64141;
    border-radius: 5px;
    cursor: pointer;
}

.moreButton {
    width: 100px;
    text-align: center;
    padding: 5px 10px;
    background-color: inherit;
    border: 1px solid #f64141;
    border-radius: 5px;
    color: #808080;
    cursor: pointer;
    transition-duration: 200ms;
}

.moreButton:hover {
    background-color: #f64141;
    color: black;
    transition-duration: 200ms;
}

.filterContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
}

.checkboxContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
}

.checkboxTitle {
    background-color: #252525;
    padding: 5px 10px;
    border: 1px solid #111111;
    border-radius: 10px 0 0 10px;
}

.checkbox {
    background-color: #f64141;
    padding: 5px 10px;
    border: 1px solid #111111;
    border-radius: 0 10px 10px 0;
    transition-duration: 200ms;
}

.checkboxAccepted {
    background-color: #40f598;
    padding: 5px 10px;
    border: 1px solid #111111;
    border-radius: 0 10px 10px 0;
    transition-duration: 200ms;
}

.checkbox:hover {
    transition-duration: 200ms;
    background-color: #40f598;
}

.checkboxAccepted:hover {
    transition-duration: 200ms;
    background-color: #f64141;
}